@import "./_Antony.scss";

h2 {
    background-color:$backgroundcolor ;
    font-size: $fontsize;
    color: $color;
}

@mixin important-text {
  color: red;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
}

.danger{
@include important-text;
background-color: rgb(81, 255, 0);
}

.warning{
    @extend h2;
    background-color: cornflowerblue;
}